body{
    display:flex;
    height:97vh;
    align-items:center;
    justify-content:center;
    background-color: rgba(255, 255, 0, 0.425);
}
.converter{
    background-color:white;
    height:fit-content;
    padding: 3%;
    width:fit-content; 
    align-items:center;
}
h2{
    display:flex;
    height: 60px;;
    align-items: center;
    justify-content: center;
}.enteredAmt{
    display:flex;
    height:80px;
    align-items: center;
}.rupee{
    font-weight: bold;
    font-size: larger;
    margin-right: 7px;
}#Rupees{
    font-size: larger;
    padding: 3px;
}.convertedAmt{
    display:flex;
    height:80px;
    align-items:center;
}
.dollar{
    font-weight: bold;
    font-size: larger;
    margin-right: 7px;
}#Dollars{
    font-size: larger;
    padding: 3px;
}#Dollars:focus{
    outline: none;
}.button{
    display: flex;
    height: 125px;
    align-items: center;
    justify-content: center;
}#btn{
    height:60px;
    width:150px;
    background-color: green;
    border-color: green;
    font-size: larger;
    color: white;
    border-radius: 15px;
    cursor:pointer;
}.rate{
    font-weight:bold;
    font-size: larger;
    margin-right: 7px;
}.convertRate{
    display:flex;
    height: 60px;
    align-items:center;
}
#conversionRate{
    font-size: larger;
}
#conversionRate:focus{
    outline: none;
}.Dropdown{
    display:flex;
    height: 60px;
    align-items: center;
}.fromList{
    width: 50%;
}.toList{
    width: 50%;
}
.fromLabel{
    font-size: larger;
    font-weight: bold;
    margin-right: 7px;
}.toLabel{
    font-size: larger;
    font-weight:bold;
    margin-right: 7px;
}